
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #000000;
    color: #fff;
    line-height: 1.6;
}

.navbar {
    background-color: #000000;
    padding: 20px;
    height: 80px;
}

.navbar-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo {
    font-size: 1.5rem;
    color: #22D0C4;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.btn-outline {
    padding: 5px 20px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}


/* botão "Fale com Kaylane" */
.hero-content .btn {
    padding: 15px 30px;
    background-color: #8052ff;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-top: 20px; /* Mover o botão para baixo */
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #000000;
    color: #fff;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

img {
    width: 300px; 
    border-radius: 2%; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}



.about-section {
    background-color: #22D0C4;
    padding: 50px;
    color: #000;
    text-align: center;
}
.projects-section {
    background-color: #000000;
    padding: 50px;
    color: #fff;
    text-align: center;
}

.project-card {
    background-color: #1b1b1b;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    transition: all 0.5s;
    width: 70%;

}

.project-card:hover {
    transform: scale(1.1);;

}

.project-card h3 {
    font-size: 1.5rem;
    color: #22D0C4;
}

.project-card a {
    color: #8052ff;
    text-decoration: none;
}

.contact-section {
    background-color: #22D0C4;
    padding: 50px;
    color: #000;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}



